<!DOCTYPE html>
<html lang="ko">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>대외경제정보통합플랫폼 </title>
<link rel="stylesheet" href="/kotra/type/common/css/common.css" />
</head>

<style>
    body {background:#e8ecef}
</style>

<body>
<section>
    <div id="contents">
        <div class="intro">
            <h1><b>대외경제정보</b> 통합플랫폼</h1>
        </div>

        <ul class="thum">
            <li>
                <img src="/kotra/type/common/img/draft/thum_typeA.png" alt="">
                Type A
            </li>
            <li>
                <img src="/kotra/type/common/img/draft/thum_typeB.png" alt="">
                Type B
            </li>
            <li>
                <img src="/kotra/type/common/img/draft/thum_typeC.png" alt="">
                Type C
            </li>
        </ul>
    </div>

</section>


</body>
</html>
